@import "socialicons";

$bg-color: #333;
$font-color: #fff;
$highlight-color: #408000;
$font-stack: "Lato", "Helvetica", "sans-serif";

body {
	background: $bg-color;
	color: $font-color;
	font: 140% $font-stack;
	padding: 100px;
}

.header .title {
	font-size: 150%;
	text-transform: uppercase;
}

.social-links {
	a {
		@extend .socialicon;

		color: $font-color;
		font-size: 160%;
		text-decoration: none;
	}

	a:hover {
		color: $highlight-color;
	}
}
