@import "socialicons";

$bg-color: #fff;
$font-color: #666;
$highlight-color: #408000;
$font-stack: "Raleway", "Helvetica", "sans-serif";

$media-small: "screen and (max-width: 400px)";
$media-large: "screen and (min-width: 401px)";

body {
	background: $bg-color;
	color: $font-color;
	font-size: 140%;
	font-family: $font-stack;
	
	@media #{$media-small} {
		padding: 100px 50px;
	}
	@media #{$media-large} {
		padding: 100px;
	}
}

a {
	color: $font-color;
	text-decoration: none;
	cursor: pointer;
	// text-shadow: 4px 4px #222;
}
a:hover {
	color: $highlight-color;
}

.title {
	font-size: 150%;
	font-weight: 200;
	text-transform: uppercase;
}

.social-links {
	margin-top: 10px;

	a {
		@extend .socialicon;
	
		@media #{$media-small} {
			font-size: 200%;
		}
		@media #{$media-large} {
			font-size: 160%;
		}
	}
}

.error {
	padding-top: 10%;
	text-align: center;
	font-size: 120%;
	.title {
		font-size: 400%;
	}
}
