@import "socialicons";

$bg-color: #fff;
$font-color: #666;
$highlight-color: #84c66f;
$font-stack: "Raleway", "Helvetica Neue", "Helvetica", Sans-Serif;

body {
	background: $bg-color;
	color: $font-color;
	font-size: 140%;
	font-family: $font-stack;

	padding: 100px 10%;
}

a {
	color: $font-color;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: $highlight-color;
}

.left-bar {
	vertical-align: top;
	text-align: right;
	width: 25%;
	min-width: 200px;

	.title {
		font-size: 150%;
		font-weight: 100;
		text-transform: uppercase;
		vertical-align: top;
	}

	.social-links {
		margin-top: 10px;

		a {
			@extend .socialicon;
			font-size: 170%;
		}
	}
}
