# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
*.log
.DS_Store

# Ignore sass cache files
.sass-cache

# Ignore .env config
/.env

# Ignore test coverage output
/coverage

# Ignore precompiled assets
/public/assets
