.header
	.title Tim Heuett

.footer
	.social-links
		%a{:href => "http://www.twitter.com/TimTheSuperGuy"} circletwitterbird
		%a{:href => "http://www.github.com/timhugh"} circlegithub
		%a{:href => "http://www.facebook.com/timhugh"} circlefacebook
		%a{:href => "http://www.linkedin.com/in/timheuett"} circlelinkedin
		%a{:href => "http://instagram.com/timhugh/"} circleinstagram
		%a{:href => "http://www.pinterest.com/timhugh/"} circlepinterest
		%a{:href => "mailto:info@timheuett.com"} circleemail
