<div class="header">
	<div class="title">Tim Heuett</div>
</div>

<div class="footer">
	<div class="social-links">
		<a href="http://www.twitter.com/TimTheSuperGuy">circletwitterbird</a>
		<a href="http://www.github.com/timhugh">circlegithub</a>
		<a href="http://www.facebook.com/timhugh">circlefacebook</a>
		<a href="http://www.linkedin.com/in/timheuett">circlelinkedin</a>
		<a href="http://instagram.com/timhugh/">circleinstagram</a>
		<a href="http://www.pinterest.com/timhugh/">circlepinterest</a>
		<a href="mailto:info@timheuett.com">circleemail</a>
	</div>
</div>