!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%title Tim Heuett
		%meta{:name => "description", :content => "Design portfolio and social media portal for Tim Heuett"}
		%meta{:name => "author", :content => "Tim Heuett"}

		<!-- mobile friendly! -->
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		
		<!-- google font -->
		%link{:href => 'http://fonts.googleapis.com/css?family=Raleway:200', :rel => 'stylesheet', :type => 'text/css'}

		<!-- analytics -->
		%script{:src => "/js/analytics.js"}

		%link{:href => "/css/main.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}

	%body
		.header
			.title
				%a{:href => "/"} Tim Heuett

		= yield