.title Tim Heuett
.social-links
  = link_to "circletwitterbird", :href => "http://www.twitter.com/TimTheSuperGuy"
  = link_to  "circlegithub", :href => "http://www.github.com/timhugh"
  -# = link_to "circlefacebook", :href => "http://www.facebook.com/timhugh"
  = link_to "circlelinkedin", :href => "http://www.linkedin.com/in/timheuett"
  -# = link_to "circleinstagram", :href => "http://instagram.com/timhugh/"
  -# = link_to "circlepinterest", :href => "http://www.pinterest.com/timhugh/"
  -# = link_to "circleetsy", :href => "http://www.etsy.com/shop/supertim/"
  = link_to "circleemail", :href => "mailto:info@timheuett.com"
